<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/estudiante.css">

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container mt-3">
    <h1>Karaoke</h1>
    <div class="form-group">
      <label for="text">Seleccionar Texto:</label>
      <select class="form-control" name="text" id="text">
        <% pdfs.forEach(pdf => { %>
        <option value="<%= pdf._id %>"><%= pdf.name %></option>
        <% }); %>
      </select>
    </div>
    <div class="form-group">
      <label for="estudiante">Seleccionar Estudiante:</label>
      <select class="form-control" name="estudiante" id="estudiante">
        <% estudiantes.forEach(estudiante => { %>
        <option value="<%= estudiante._id %>"><%= estudiante.nombre %></option>
        <% }); %>
      </select>
    </div>

    <form action="/karaoke/iniciar" method="post">
      <input type="hidden" name="pdfId" id="selectedPdfId">
      <button id="karaokeStartBtn" type="button" class="btn btn-primary mt-2">Iniciar Karaoke</button>
    </form>
    <script>
      const karaokeStartBtn = document.getElementById('karaokeStartBtn');

      karaokeStartBtn.addEventListener('click', () => {
        const selectedPdfId = document.getElementById('text').value;
        const speed = document.getElementById('speed').value;
        const date = document.getElementById('date').value;
        const estudiante = document.getElementById('estudiante').value;

        const url = new URL('/karaoke/start', window.location.href);
        url.searchParams.set('pdfId', selectedPdfId);
        url.searchParams.set('speed', speed);
        url.searchParams.set('date', date);
        url.searchParams.set('estudiante', estudiante);

        window.location.href = url.toString();
      });
    </script>
  </main>
  <%- include('../includes/end.ejs') %>
