<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <h1>Configurar Opciones de Karaoke</h1>
    <form action="/karaoke/start" method="POST">
      <label for="text">Seleccionar Texto:</label>
      <select name="text" id="text">
        <% pdfs.forEach(pdf => { %>
          <option value="<%= pdf._id %>"><%= pdf.name %></option>
        <% }); %>
      </select>
      <label for="speed">Velocidad (palabras por minuto):</label>
      <input type="number" name="speed" id="speed" required>
      <label for="startPosition">Posición de inicio:</label>
      <input type="number" name="startPosition" id="startPosition" required>
      <button type="submit">Iniciar Karaoke</button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
</html>
