<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div>
      <h1>Subir Archivo PDF</h1>
      <form action="/text/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="pdfFile" accept=".pdf" required />
        <select name="curso" required>
          <option value="">Seleccione un curso</option>
          <option value="Primero Básico">Primero Básico</option>
          <option value="Segundo Básico">Segundo Básico</option>
          <option value="Tercero Básico">Tercero Básico</option>
          <option value="Cuarto Básico">Cuarto Básico</option>
          <option value="Quinto Básico">Quinto Básico</option>
          <option value="Sexto Básico">Sexto Básico</option>
          <option value="Septimo Básico">Septimo Básico</option>
          <option value="Octavo Básico">Octavo Básico</option>
        </select>
        <button type="submit">Subir</button>
      </form>
    </div>
    <div>
      <% if (pdfs.length === 0) { %>
        <h1>Sin Textos</h1>
      <% } else { %>
        <div class="grid">
          <h1>Lista de Textos</h1>
          <% pdfs.forEach(function(pdf) { %>
            <article class="card PdfText-item">
              <header class="card__header">
                <h1 class="PdfText__nombre">
                  <h2><%= pdf.name %> - <%= pdf.curso %></h2>
                </h1>
              </header>
              <div class="card__actions">
                <a href="/text/edit/<%= pdf._id %>?edit=true" class="btn">Editar</a>
                <form id="eliminarTextoForm_<%= pdf._id %>" action="/text/delete" method="POST">
                  <input type="hidden" value="<%= pdf._id %>" name="pdfId">
                  <button class="btn" type="button" onclick="confirmarEliminacionTexto('<%= pdf._id %>')">Eliminar</button>
                </form>
              </div>
            </article>
          <% }); %>
        </div>
      <% } %>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>