<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container mt-3">
        <h1>CONFIGURACIÓN DOMINIO LECTOR</h1>

        <!-- Seleccionar Texto -->
        <div class="form-group">
            <label for="text">Seleccionar Texto:</label>
            <select class="form-control" name="text" id="text">
                <% pdfs.forEach(pdf=> { %>
                <option value="<%= pdf._id %>">
                    <%= pdf.name %>
                </option>
                <% }); %>
            </select>
        </div>

        <!-- Campo de autocompletado para filtrar estudiantes con Select2 -->
        <div class="form-group">
            <label for="filtroEstudiantes">Filtrar Estudiantes:</label>
            <select class="form-control" id="filtroEstudiantes" multiple="multiple">
                <% estudiantes.forEach(estudiante=> { %>
                <option value="<%= estudiante._id %>" data-curso="<%= estudiante.curso %>">
                    <%= estudiante.nombre + ' ' + estudiante.apellido %>
                </option>
                <% }); %>
            </select>
        </div>

        <!-- Seleccionar Curso -->
        <div class="form-group">
            <label for="curso">Seleccionar Curso:</label>
            <select class="form-control" name="curso" id="curso" disabled>
                <% cursos.forEach(curso=> { %>
                <option value="<%= curso %>">
                    <%= curso %>
                </option>
                <% }); %>
            </select>
        </div>

        <!-- Botón para iniciar la prueba del dominio lector -->
        <!-- Añadido el identificador del texto seleccionado y del estudiante al enlace -->
        <a href="/dominio/start?text=<%= pdfs[0]._id %>&estudiante=<%= estudiantes[0]._id %>" class="btn btn-primary">Iniciar Prueba</a>

    </main>

    <%- include('../includes/end.ejs') %>
