<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/resultados.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main>
        <h1 class="resultadotitulo">Resultados de Pruebas</h1>

        <% if (resultados && resultados.length> 0) { %>
          <div class="grid">
            <% resultados.forEach(resultado=> { %>
              <article class="card">
                <header class="card__header">
                  <h1 class="estudiante__nombre">
                    <h2>
                      Nombre Estudiante: <%= resultado.estudianteId.nombre %>
                    </h2>
                  </h1>
                </header>
                <div class="card__content">
                  <h2 class="palabras__minuto">
                    <h2>
                      curso: <%= resultado.estudianteId.curso %>
                    </h2>
                  </h2>
                </div>
                <div class="card__content">
                  <h2 class="palabras__minuto">
                    <h2>
                      Palabras por minuto: <%= resultado.palabrasMinuto %>
                    </h2>
                  </h2>
                </div>
                <div class="card__content">
                  <h2 class="total_palabras_erroneas">
                    <h2>
                      Total palabras erróneas: <%= resultado.totalPalabrasErroneas %>
                    </h2>
                  </h2>
                </div>
                <div class="card__content">
                  <h2 class="fecha">
                    <h2>Fecha: <%= resultado.fecha %>
                    </h2>
                  </h2>
                </div>

                <!-- Agrega más campos según sea necesario -->
              </article>
              <% }); %>
          </div>
          <% } else { %>
            <p>No hay resultados disponibles.</p>
            <% } %>
      </main>
      <%- include('../includes/end.ejs') %>
  </body>

  </html>