<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="container-fluid p-0">
                    <div id="header-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="w-100" src="/img/testlectura.jpg" alt="Image">
                                <div
                                    class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 900px;">
                                        <h4 class="text-white text-uppercase mb-md-3">EVALUACIÓN Y LECTURA</h4>
                                        <h1 class="display-3 text-white mb-md-4">EVALÚA, ANALIZA y CRECE</h1>
                                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Contrar Ahora</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Agrega más elementos de carrusel según sea necesario -->
                            <!-- Elemento del carrusel para la sección de servicios -->
                            <div class="carousel-item">
                                <div class="container-fluid py-5">
                                    <div class="container pt-5 pb-3">
                                        <div class="text-center mb-3 pb-3">
                                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">
                                                SERVICIOS</h6>
                                            <h1>EXPLORA TUS BENEFICIOS</h1>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                                                    <img class="img-fluid mx-auto m-4" src="img/graficos.jpg"
                                                        style="width: 140px; height: 120px;">
                                                    <h5 class="mb-2">GRAFICOS Y ESTADISTICAS</h5>
                                                    <p class="m-0">Justo sit justo eos amet tempor amet clita amet ipsum
                                                        eos elitr. Amet
                                                        lorem est amet labore</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                                                    <img class="img-fluid mx-auto m-4" src="img/automatizacion.jpg"
                                                        style="width: 140px; height: 120px;">
                                                    <h5 class="mb-2">TEST AUTOMATIZADO</h5>
                                                    <p class="m-0">Justo sit justo eos amet tempor amet clita amet ipsum
                                                        eos elitr. Amet
                                                        lorem est amet labore</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                                                    <img class="img-fluid mx-auto m-4" src="img/registrotiempo.jpg"
                                                        style="width: 140px; height: 120px;">
                                                    <h5 class="mb-2">REGISTRO EN EL TIEMPO</h5>
                                                    <p class="m-0">Justo sit justo eos amet tempor amet clita amet ipsum
                                                        eos elitr. Amet
                                                        lorem est amet labore</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Elemento del carrusel para la sección de planes -->
                            <div class="carousel-item">
                                <div class="container-fluid py-5">
                                    <div class="container pt-5 pb-3">
                                        <div class="text-center mb-3 pb-3">
                                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">PLANES
                                            </h6>
                                            <h1>PLANES DISPONIBLES PARA TI</h1>
                                        </div>
                                        <div class="row">
                                            <!-- Plan Estudiante 1 Mes -->
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="package-item bg-white mb-2">
                                                    <img class="img-fluid" src="img/estudiante1.jpg" alt="">
                                                    <div class="p-4">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <small class="m-0"><i
                                                                    class="fa fa-map-marker-alt text-primary mr-2"></i>INDIVIDUAL</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-calendar-alt text-primary mr-2"></i>1
                                                                Mes</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-user text-primary mr-2"></i>1
                                                                Persona</small>
                                                        </div>
                                                        <a class="h5 text-decoration-none" href="">PLAN ESTUDIANTE</a>
                                                        <div class="border-top mt-4 pt-4">
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="m-0">$</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Plan Estudiante 6 Meses -->
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="package-item bg-white mb-2">
                                                    <img class="img-fluid" src="img/estudiante2.jpg" alt="">
                                                    <div class="p-4">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <small class="m-0"><i
                                                                    class="fa fa-map-marker-alt text-primary mr-2"></i>INDIVIDUAL</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-calendar-alt text-primary mr-2"></i>6
                                                                Meses</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-user text-primary mr-2"></i>1
                                                                Persona</small>
                                                        </div>
                                                        <a class="h5 text-decoration-none" href="">PLAN ESTUDIANTE
                                                            SEMESTRAL </a>
                                                        <div class="border-top mt-4 pt-4">
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="m-0">$$</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Plan Estudiante Anual -->
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="package-item bg-white mb-2">
                                                    <img class="img-fluid" src="img/estudiante3.jpg" alt="">
                                                    <div class="p-4">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <small class="m-0"><i
                                                                    class="fa fa-map-marker-alt text-primary mr-2"></i>INDIVIDUAL</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-calendar-alt text-primary mr-2"></i>12
                                                                meses</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-user text-primary mr-2"></i>1
                                                                Persona</small>
                                                        </div>
                                                        <a class="h5 text-decoration-none" href="">PLAN ESTUDIANTE
                                                            ANUAL</a>
                                                        <div class="border-top mt-4 pt-4">
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="m-0">$$$</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Plan Empresa 1 Mes -->
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="package-item bg-white mb-2">
                                                    <img class="img-fluid" src="img/empresa1.jpg" alt="">
                                                    <div class="p-4">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <small class="m-0"><i
                                                                    class="fa fa-map-marker-alt text-primary mr-2"></i>EMPRESA</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-calendar-alt text-primary mr-2"></i>1
                                                                Mes</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-user text-primary mr-2"></i>45
                                                                Personas</small>
                                                        </div>
                                                        <a class="h5 text-decoration-none" href="">PLAN EMPRESA</a>
                                                        <div class="border-top mt-4 pt-4">
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="m-0">$</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Plan Empresa 6 Meses -->
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="package-item bg-white mb-2">
                                                    <img class="img-fluid" src="img/empresa2.jpg" alt="">
                                                    <div class="p-4">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <small class="m-0"><i
                                                                    class="fa fa-map-marker-alt text-primary mr-2"></i>EMPRESA</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-calendar-alt text-primary mr-2"></i>6
                                                                MESES</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-user text-primary mr-2"></i>45
                                                                Personas</small>
                                                        </div>
                                                        <a class="h5 text-decoration-none" href="">PLAN EMPRESA
                                                            SEMESTRAL</a>
                                                        <div class="border-top mt-4 pt-4">
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="m-0">$$</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Plan Empresa Anual -->
                                            <div class="col-lg-4 col-md-6 mb-4">
                                                <div class="package-item bg-white mb-2">
                                                    <img class="img-fluid" src="img/empresa3.jpg" alt="">
                                                    <div class="p-4">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <small class="m-0"><i
                                                                    class="fa fa-map-marker-alt text-primary mr-2"></i>EMPRESA</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-calendar-alt text-primary mr-2"></i>12
                                                                MESES</small>
                                                            <small class="m-0"><i
                                                                    class="fa fa-user text-primary mr-2"></i>45
                                                                Personas</small>
                                                        </div>
                                                        <a class="h5 text-decoration-none" href="">PLAN EMPRESA
                                                            ANUAL</a>
                                                        <div class="border-top mt-4 pt-4">
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="m-0">$$$</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Elemento del carrusel para la sección de comentarios -->
                            <div class="carousel-item">
                                <div class="container-fluid py-5">
                                    <div class="container py-5">
                                        <div class="text-center mb-3 pb-3">
                                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">
                                                COMENTARIOS</h6>
                                            <h1>¿QUÉ DICEN NUESTROS CLIENTES?</h1>
                                        </div>
                                        <div class="owl-carousel testimonial-carousel">
                                            <!-- Comentario Cliente 1 -->
                                            <div class="text-center pb-4">
                                                <img class="img-fluid mx-auto" src="img/testimonial-1.jpg"
                                                    style="width: 100px; height: 100px;">
                                                <div class="testimonial-text bg-white p-4 mt-n5">
                                                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam
                                                        sed sed dolor stet amet eirmod eos labore diam</p>
                                                    <h5 class="text-truncate">Nombre Cliente</h5>
                                                    <span>Rol Usuario</span>
                                                </div>
                                            </div>

                                            <!-- Comentario Cliente 2 -->
                                            <div class="text-center">
                                                <img class="img-fluid mx-auto" src="img/testimonial-2.jpg"
                                                    style="width: 100px; height: 100px;">
                                                <div class="testimonial-text bg-white p-4 mt-n5">
                                                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam
                                                        sed sed dolor stet amet eirmod eos labore diam</p>
                                                    <h5 class="text-truncate">Nombre Cliente</h5>
                                                    <span>Rol Usuario</span>
                                                </div>
                                            </div>

                                            <!-- Comentario Cliente 3 -->
                                            <div class="text-center">
                                                <img class="img-fluid mx-auto" src="img/testimonial-3.jpg"
                                                    style="width: 100px; height: 100px;">
                                                <div class="testimonial-text bg-white p-4 mt-n5">
                                                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam
                                                        sed sed dolor stet amet eirmod eos labore diam</p>
                                                    <h5 class="text-truncate">Nombre Cliente</h5>
                                                    <span>Rol Usuario</span>
                                                </div>
                                            </div>

                                            <!-- Comentario Cliente 4 -->
                                            <div class="text-center">
                                                <img class="img-fluid mx-auto" src="img/testimonial-4.jpg"
                                                    style="width: 100px; height: 100px;">
                                                <div class="testimonial-text bg-white p-4 mt-n5">
                                                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam
                                                        sed sed dolor stet amet eirmod eos labore diam</p>
                                                    <h5 class="text-truncate">Nombre Cliente</h5>
                                                    <span>Rol Usuario</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
                
                <div id="contacto"class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
                    <div class="row pt-5">
                        <div class="col-lg-3 col-md-6 mb-5">
                            <a href="" class="navbar-brand">
                                <h1 class="text-primary"><span class="text-white">KARAOKE</span>TEST</h1>
                            </a>
                            <p>Sed ipsum clita tempor ipsum ipsum amet sit ipsum lorem amet labore rebum lorem ipsum
                                dolor. No sed vero lorem dolor dolor</p>
                            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">REDES</h6>
                            <div class="d-flex justify-content-start">
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary btn-square" href="#"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">RUTAS</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-white-50 mb-2 fa fa-angle-right mr-2" href="#"><i></i>INICIO</a>
                                <% if(isAuthenticated) {%>
                                    <a class="<%= path === '/estudiante/estudiantes' ? 'active' : '' %> text-white-50 mb-2 fa fa-angle-right mr-2" href="/estudiante/estudiantes">ESTUDIANTES
                                    </a>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="text-white-50 mb-2 fa fa-angle-right mr-2 dropdown-toggle" data-toggle="dropdown">TEST</a>
                                        <div class="dropdown-menu border-0 rounded-0 m-0">
                                            <a class="<%= path === '/upload' ? 'active' : '' %> dropdown-item" href="/text/upload">TEXTOS</a>
                                            <a class="<%= path === '/test' ? 'active' : '' %> dropdown-item" href="/karaoke/test">KARAOKE</a>
                                            <a class="<%= path === '/config' ? 'active' : '' %> dropdown-item" href="/dominio/config">DOMINIO LECTOR</a>
                                            <a href="#" class="dropdown-item">RESULTADOS</a>
                                        </div>
                                    </div>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="text-white-50 mb-2 fa fa-angle-right mr-2 dropdown-toggle" data-toggle="dropdown">MI CUENTA</a>
                                        <div class="dropdown-menu border-0 rounded-0 m-0">
                                            <a href="blog.html" class="dropdown-item">MIS DATOS</a>
                                            <a href="single.html" class="dropdown-item">MI PLAN</a>
                                            <form class="dropdown-item" action="/logout" method="POST">
                                                <button type="submit">CERRAR SESIÓN</button>
                                            </form>
                                        </div>
                                    </div>
                                <% }else{ %>
                                    
                                    <div class="nav-item dropdown">
                                        <a href="#" class="text-white-50 mb-2 fa fa-angle-right mr-2 dropdown-toggle" data-toggle="dropdown">SESIÓN</a>
                                        <div class="dropdown-menu border-0 rounded-0 m-0">
                                            <a class="<%= path === '/login' ? 'active' : '' %> dropdown-item" href="/login">INICIAR SESIÓN</a>
                                            <a class="<%= path === '/signup' ? 'active' : '' %> dropdown-item" href="/signup">REGISTRARSE</a>
                                        </div>
                                    </div>
                                    
                                <% } %>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-5">
                            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">CONTACTO</h5>
                            <p><i class="fa fa-map-marker-alt mr-2"></i>Curico</p>
                            <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                            <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                        </div>
                    </div>
                </div>

                <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
                    style="border-color: rgba(256, 256, 256, .1) !important;">
                    <div class="row">
                        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                            <p class="m-0 text-white-50">Copyright &copy; <a href="#">Domain</a>.Todos los derechos
                                reservados.</a>
                            </p>
                        </div>
                        <div class="col-lg-6 text-center text-md-right">
                            <p class="m-0 text-white-50">Diseñado por: <a>Duzan</a>
                            </p>
                        </div>
                    </div>
                </div>

                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>   

                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            </main>
            <% include('../includes/end.ejs') %>